<nav class="navbar navbar-expand-lg bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">MealToEat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="users">Gebruikers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recipes">Recepten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-success" routerLink="auth/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
