.previewBtn {
    border: none;
    color: blue;
    padding: 8px;
}

.editBtn {
    border: none;
    color: orange;
    padding: 8px;
}

.deleteBtn {
    border: none;
    color: red;
    padding: 8px;
    cursor: pointer;
}