input.ng-invalid[required].ng-touched {
    border-color:red;
}

input.ng-valid[required].ng-touched {
    border-color:green;
}

.imgExamplePlace {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 200px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 12px;
}

.imgExample {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

.deleteBtn {
    color: red;
    border-color: red;
}

.deleteBtn:hover {
    color: white;
    border: 1px solid grey;
}