<div class="container">
    <div class="row">
        <h3 *ngIf="userExists">Hoi {{ user.name }}</h3>
        <h3 *ngIf="!userExists">Nieuwe gebruiker</h3>
    </div>
    <div class="row">
        <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
        <label for="emailAddress" class="form-label">Email:</label>
        <input [(ngModel)]="editUser.emailAddress" type="email" class="form-control" #emailAddress="ngModel" name="emailAddress" [value]="user!.emailAddress" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$">
        <p *ngIf="!emailAddress.valid && emailAddress.touched" style="color:red"><i class="fa-solid fa-circle-xmark"></i> Vul een valide emailadres in.</p>
        <button *ngIf="userExists" class="btn btn-primary mt-3" type="submit">Verander gebruiker</button>
        <a class="btn btn-secondary ms-2 mt-3" routerLink="/users">Cancel</a>
    </form>
    </div>
</div>