<div class="container">
    <div class="row mt-3">
        <h3 *ngIf="userExists">Hoi {{ user!.name }}</h3>
        <h3 *ngIf="!userExists">Nieuwe gebruiker</h3>
    </div>
    <div class="row">
        <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
        <label for="name" class="form-label">Naam:</label>
        <input [(ngModel)]="editUser.name" type="name" class="form-control" #name="ngModel" name="name" [value]="user!.name" required minlength="1">
        <label for="emailAdress" class="form-label">Email:</label>
        <input [(ngModel)]="editUser.emailAdress" type="email" class="form-control" #emailAdress="ngModel" name="emailAdress" [value]="user?.emailAdress" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <label for="isAdult">18+</label>
        <input type="checkbox" [(ngModel)]="editUser.isAdult" #isAdult="ngModel" name="isAdult" [checked]="user!.isAdult"><br>
        <button *ngIf="userExists" class="btn btn-primary mt-3" type="submit">Verander gebruiker</button>
        <button *ngIf="!userExists" [disabled]="!userEditForm.valid" class="btn btn-primary mt-3" type="submit">Voeg gebruiker toe</button>
        <a class="btn btn-secondary ms-2 mt-3" routerLink="/users">Cancel</a>
    </form>
    </div>
</div>