<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>Recepten</h2>
        </div>
        <div class="col-2">
            <a routerLink="add" class="btn btn-primary ms-4">Nieuw recept</a>
        </div>
    </div>
    <div class="row row-cols-4 g-3">
        <div *ngFor="let recipe of recipes" class="col">
            <div class="singleRecipe" routerLink="{{recipe.id}}">
                <div class="row">
                    <h4>{{recipe.name}}</h4>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <p class="m-0"><i class="fa-solid fa-clock"></i> {{recipe.cookingTime}} min</p>
                        <p class="m-0"><i class="fa-solid fa-fire-flame-curved"></i> {{recipe.kcal}} kcal</p>
                    </div>
                    <div class="col">
                        <p class="m-0"><i class="fa-solid fa-user"></i> {{recipe.personCount}}</p>
                        <p class="m-0"><i class="fa-solid fa-utensils"></i> {{recipe.typeMeal}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="imgPlace">
                        <img class="img" src="{{recipe.imgUrl}}" alt="{{recipe.name}}-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
